.profile-dropdown-container {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.profile-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #333;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu ul li {
  margin: 10px 0;
}

.dropdown-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

.dropdown-menu ul li a:hover {
  background-color: #ff4747;
  border-radius: 5px;
}
